<phpunit>
    <!-- A filter to make sure we don't count tests in the code coverage report -->
    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
        <blacklist>
            <directory suffix=".Test.php">./tests</directory>
        </blacklist>
    </filter>

    <testsuites>
        <testsuite name="Phing">
            <directory suffix=".Test.php">./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>