<phpunit>
    <!-- A filter to make sure we don't count tests in the code coverage report -->
    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory suffix=".Test.php">./src</directory>
            </exclude>
        </whitelist>
    </filter>

    <testsuites>
        <testsuite name="Phing">
            <directory suffix=".Test.php">./src</directory>
        </testsuite>
    </testsuites>
</phpunit>